* {
    box-sizing:border-box;
    scroll-behavior: smooth;
}

nav {
    font-family: 'Open Sans:wght@700',sans-serif;
    font-size: 1.5rem;
    background-color: #1B729D;
    color: whitesmoke;
    display:flex;
    width: 100%;
    justify-content: center;
    position: fixed;
}

.cardContainer {
    padding-top: 20px;
}
body {
    margin: 0;
}

.countryCard {
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    padding-top: 100px;
}

.name {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #1B729D;
    border: 1px solid #B1D573;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    background: #B1D573;
}

.items {
    border: 1px solid #EFCB59;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #EFCB59 ;
    font-family: "Open Sans", serif;
    padding-left: 10px;
}

html {
    background-color: #F0EFF5;
}

p{
    font-weight: bold;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

